<!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width:1400px;">

  <!-- The Grid -->
  <div class="w3-row-padding">

    <%= render "users/user", object: @user %>

    <%= render "users/tweets", object: @tweets%>
    
  <!-- End Grid -->
  </div>
  
  <!-- End Page Container -->
</div>

